@media screen and (min-width: 37.5em) {
    #menu{
        display: none;
    }

    .navigation{
        flex-direction: row;
    }
    nav ul{
        display: flex;
        justify-content:space-around;
    }
    nav ul li{
        flex: 1 1 100%;
    }
    nav
    .navigation a{
        display: block;
        height: 100%;
    }

    #course-title{
        text-align: left;
        margin: 10px;
    }
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    main{
        display: grid;
        grid-template: auto auto auto/ auto auto auto;
    }

    main h1{
        grid-column: 1/4;
    }
}